Repository garricn/thanos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add test:scripts command script
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: convert shell scripts to JavaScript with tests
  package.json
  scripts/__tests__/shell-utils.test.js
  scripts/clean-deep.js
  scripts/clean-deep.sh
  scripts/node-version.js
  scripts/node-version.sh
  scripts/shell-utils.js
  scripts/switch-node.js
  scripts/switch-node.sh
Due: eslint --fix, prettier --write, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: improve scripts directory structure
  .husky/pre-commit
  .husky/pre-push
  package.json
  scripts/__tests__/git-hooks.test.js
  scripts/__tests__/shell-utils.test.js
  scripts/bin/clean-deep.js
  scripts/bin/coverage.js
  scripts/bin/generate.js
  scripts/bin/node-version.js
  scripts/bin/switch-node.js
  scripts/configs/jest.config.js
  scripts/configs/jest.setup.js
  scripts/hooks/git-hooks.js
  scripts/hooks/pre-commit.js
  scripts/hooks/pre-push.js
  scripts/lib/shell-utils.js
  scripts/pre-commit.js
  scripts/pre-push.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: convert test-e2e.sh to JavaScript with tests
  package.json
  scripts/__tests__/test-e2e.test.js
  scripts/bin/test-e2e.js
  scripts/configs/jest.config.js
  scripts/test-e2e.sh
Due: eslint --fix, prettier --write, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: convert act.sh to JavaScript with tests
  package.json
  scripts/__tests__/act.test.js
  scripts/act.sh
  scripts/bin/act.js
Due: eslint --fix, prettier --write, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix test and lint-sh scripts: Update Jest setup paths and improve shell script linting
  apps/api/configs/test/jest.config.mjs
  apps/web/configs/test/jest.config.ts
  package.json
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix project root path in coverage script to correctly locate test reports
  scripts/bin/coverage.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Update TASKS.md to reflect correct test coverage of 87.50%
  docs/TASKS.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: update coverage test to use ES modules
  package.json
  scripts/__tests__/coverage.test.js
  scripts/bin/coverage.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: update act.test.js to use ES modules
  package.json
  scripts/__tests__/act.test.js
  scripts/configs/jest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add tests for exec function in shell-utils
  scripts/__tests__/shell-utils.test.js
  scripts/lib/shell-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add tests for version management functions
  scripts/__tests__/shell-utils.test.js
  scripts/lib/shell-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: update test expectations for checkNodeVersion and switchNodeVersion
  scripts/__tests__/shell-utils.test.js
  scripts/lib/shell-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add missing test cases for shell-utils
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: improve git-hooks test coverage
  scripts/__tests__/git-hooks.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: improve git-hooks test maintainability
  scripts/__tests__/git-hooks.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: improve shell-utils test maintainability
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add shared test utilities
  scripts/__tests__/shell-utils.test.js
  scripts/__tests__/test-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: refactor git-hooks tests to use shared utilities
  scripts/__tests__/git-hooks.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Improve test-e2e.test.js
  scripts/__tests__/README.md
  scripts/__tests__/test-e2e.test.js
  scripts/__tests__/test-utils.js
  scripts/bin/test-e2e.js
  scripts/jest.config.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Update collect coverage from
  scripts/configs/jest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: Add behavior-focused test for switchNodeVersion
  scripts/__tests__/shell-utils.test.js
  scripts/lib/shell-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: Add test for when nvm is not available
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test case for Node.js version switch failure
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add behavioral test for getCurrentNodeVersion
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add behavioral test for exec function
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

docs: clarify one-test-at-a-time pattern in testing docs
  docs/TESTING_PATTERN.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add basic test for getRequiredNodeVersion
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add behavioral test for checkNodeVersionMatch matching versions
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add behavioral test for checkNodeVersionMatch with force flag
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add behavioral test for checkNodeVersionMatch with non-matching versions
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test for cleanDeep help option
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test for cleanDeep dry-run option
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test for cleanDeep force option
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test for Jest cache clearing failure case in cleanDeep
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test for non-dry-run mode in cleanDeep
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test for checkNodeVersion function
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test for exec with custom options
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add test for cleanDeep with multiple arguments
  scripts/__tests__/shell-utils.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix formatter settings
  configs/lint/eslint.base.config.mjs
  docs/TESTING_PATTERN.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})) or (any of: *.{yml,yaml})
  npx yaml-lint -c .yaml-lint.json: any of: *.{yml,yaml}
  markdownlint-cli2 --fix: any of: *.md
  shellcheck: any of: *.sh
  shfmt -i 2 -ci -w: any of: *.sh
  bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --: any of: *
