Repository garricn/thanos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix sonar coverage analysis setup
  .github/workflows/ci.yml
  apps/api/jest.config.ts
  apps/web/jest.config.ts
  jest.config.ts
  jest.setup.js
  jestSonar.config.js
  package.json
  scripts/jest-to-sonar.js
  sonar-project.properties
Due: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Create sonar report
  .github/workflows/ci.yml
  jestSonar.config.js
  package.json
  scripts/README.md
  scripts/cleanup-test-reports.js
  scripts/jest-to-sonar.js
Due: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add tasks
  docs/TASKS.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Move lint configs
  apps/api/e2e/eslint.config.mjs
  apps/api/eslint.config.mjs
  apps/api/tests/eslint.config.mjs
  apps/web/e2e/eslint.config.mjs
  apps/web/eslint.config.mjs
  configs/lint/.yaml-lint.json
  configs/lint/eslint.base.config.mjs
  configs/lint/eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Move all child configs to confgs dir
  apps/api/configs/lint/eslint.config.mjs
  apps/api/e2e/configs/lint/eslint.config.mjs
  apps/api/e2e/eslint.config.mjs
  apps/api/package.json
  apps/api/tests/configs/lint/eslint.config.mjs
  apps/api/tests/eslint.config.mjs
  apps/web/configs/lint/eslint.config.mjs
  apps/web/e2e/configs/lint/eslint.config.mjs
  apps/web/e2e/eslint.config.mjs
  apps/web/package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Move prettier configs
  .github/workflows/ci.yml
  .prettierignore
  README.md
  apps/api/e2e/package.json
  apps/api/package.json
  apps/web/e2e/package.json
  apps/web/package.json
  apps/web/tsconfig.app.json
  apps/web/tsconfig.spec.json
  configs/lint/.prettierignore
  configs/lint/.prettierrc
  configs/lint/.yaml-lint.json
  configs/lint/.yamllint
  docs/TASKS.md
  package-lock.json
  package.json
  scripts/validate-actions.sh
Due: prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix prettier
  configs/lint/.prettierrc
  package-lock.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Move .markdownlint-cli2.jsonc
  configs/lint/.markdownlint-cli2.jsonc
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: move lint-staged config to configs/lint directory
  .lintstagedrc.json
  configs/lint/.lintstagedrc.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: replace yaml-lint with yamllint in validate-actions.sh
  docs/TASKS.md
  scripts/validate-actions.sh
Due: prettier --write, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Run npm run clean:deep
  package-lock.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Remove cleanup:nx as Nx removed
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: move TypeScript configs to app-specific configs/build directories
  apps/api/configs/build/tsconfig.app.json
  apps/api/configs/build/tsconfig.json
  apps/api/configs/build/tsconfig.spec.json
  apps/api/package.json
  apps/web/configs/build/tsconfig.app.json
  apps/web/configs/build/tsconfig.json
  apps/web/configs/build/tsconfig.spec.json
  apps/web/package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: move root TypeScript configs to configs/build directory
  apps/api/configs/build/tsconfig.app.json
  apps/api/configs/build/tsconfig.json
  apps/api/package.json
  apps/web/configs/build/tsconfig.app.json
  apps/web/configs/build/tsconfig.json
  apps/web/package.json
  configs/build/tsconfig.app.json
  configs/build/tsconfig.json
  configs/build/tsconfig.spec.json
  docs/TASKS.md
  tsconfig.app.json
  tsconfig.spec.json
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: update Vite config paths to work from project root
  apps/web/configs/build/tsconfig.json
  apps/web/configs/build/vite.config.ts
  apps/web/package.json
  configs/build/vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: move PostCSS and Tailwind configs to configs/build
  apps/web/configs/build/vite.config.ts
  configs/build/postcss.config.js
  configs/build/tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: move Babel config to configs/build
  apps/web/configs/build/vite.config.ts
  configs/build/babel.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: move Babel config to apps/web/configs/build and remove unused styles.css reference
  apps/web/configs/build/babel.config.js
  apps/web/configs/build/vite.config.ts
  apps/web/index.html
  configs/build/babel.config.js
  postcss.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: update Docker CI paths to work with new config structure
  configs/docker/Dockerfile.ci
  configs/docker/Dockerfile.dev
  configs/docker/docker-compose-ci.yml
  configs/docker/docker-compose.yml
  docs/DOCKER.md
  docs/TASKS.md
  scripts/docker-ci.sh
  scripts/validate-node-version.sh
Due: prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: update test configuration to work with new project structure
  apps/api/configs/build/tsconfig.json
  apps/api/configs/test/jest.config.ts
  apps/api/configs/test/tsconfig.spec.json
  apps/api/db/models/log.js
  apps/api/e2e/configs/test/jest.config.ts
  apps/api/e2e/configs/test/tsconfig.spec.json
  apps/api/e2e/project.json
  apps/api/package.json
  apps/api/tests/configs/test/jest.config.ts
  apps/api/tests/configs/test/tsconfig.json
  apps/api/tests/configs/test/tsconfig.spec.json
  apps/api/tests/project.json
  apps/api/tests/tsconfig.json
  apps/web/configs/build/babel.config.js
  apps/web/configs/build/tsconfig.json
  apps/web/configs/build/vite.config.ts
  configs/build/tailwind.config.js
  configs/build/tsconfig.json
  configs/test/jest.config.ts
  configs/test/jestSonar.config.js
  configs/test/tsconfig.spec.json
  docs/DOCKER.md
  jest.config.base.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: remove unused jestSonar.config.js
  configs/test/jestSonar.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: update e2e test configuration to use correct TypeScript settings
  apps/api/e2e/configs/test/jest.config.ts
  apps/api/e2e/configs/test/tsconfig.spec.json
  apps/api/e2e/src/api/api.test.ts
  apps/api/package.json
  apps/web/e2e/tsconfig.json
  configs/build/tsconfig.api.json
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  .github/workflows/ci.yml
  apps/api/e2e/src/api/api.test.ts
  configs/test/codecov.yml
Due: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  apps/api/build.js
  apps/api/package.json
  configs/build/tsconfig.api.json
  docs/TASKS.md
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

format
  apps/api/build.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: migrate CommonJS modules to ES Modules for consistent module patterns
  apps/api/db/models/log.js
  apps/api/e2e/src/support/global-setup.ts
  apps/api/e2e/src/support/global-teardown.ts
  apps/api/e2e/src/support/test-setup.ts
  apps/api/src/main.ts
  apps/api/tests/src/support/test-setup.ts
  apps/api/tests/test-utils.ts
  apps/web/configs/build/babel.config.js
  apps/web/package.json
  configs/build/postcss.config.js
  configs/build/tailwind.config.js
  generate.js
  package.json
  scripts/cleanup-test-reports.js
  scripts/combine-coverage.js
  scripts/jest-to-sonar.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: fix ES Modules integration for API tests
  apps/api/e2e/configs/test/jest.config.ts
  apps/api/e2e/package.json
  apps/api/package.json
  apps/api/src/main.ts
  apps/api/tests/src/app.spec.ts
  apps/api/tests/test-utils.ts
  scripts/e2e.sh
Due: eslint --fix, prettier --write, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: resolve ES Modules integration issues with API tests
  apps/api/configs/build/tsconfig.node.json
  apps/api/e2e/configs/test/jest.config.ts
  apps/api/e2e/configs/test/tsconfig.spec.json
  apps/api/e2e/jest.config.mjs
  apps/api/e2e/src/support/global-setup.ts
  apps/api/e2e/src/support/global-teardown.ts
  apps/api/package.json
  apps/api/src/start.mjs
  scripts/e2e.sh
Due: eslint --fix, prettier --write, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: improve API testing setup
  apps/api/e2e/configs/test/jest.config.mjs
  apps/api/e2e/jest.config.mjs
  apps/api/package.json
  scripts/e2e.sh
Due: prettier --write, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix lint issues
  apps/api/build.js
  apps/api/e2e/configs/test/jest.config.mjs
  apps/api/src/main.ts
  apps/api/src/start.mjs
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: update API tests for ES Modules compatibility
  apps/api/configs/test/jest.config.mjs
  apps/api/configs/test/tsconfig.spec.json
  apps/api/package.json
  apps/api/tests/src/app.spec.ts
  apps/api/tests/structure.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  .github/workflows/ci.yml
  configs/quality/sonar-project.properties
  docs/PROJECT_STRUCTURE.md
  docs/SONARCLOUD.md
  docs/SONARQUBE_SETUP.md
  package.json
Due: prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  docs/SONARCLOUD.md
  scripts/combine-coverage.js
  scripts/jest-to-sonar.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

add tasks
  docs/TASKS.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  apps/api/configs/lint/eslint.config.mjs
  apps/api/configs/test/jest.config.mjs
  apps/api/configs/test/jest.config.ts
  apps/api/e2e/configs/test/jest.config.mjs
  apps/api/src/start.mjs
  apps/api/tests/configs/test/jest.config.ts
  apps/web/jest.config.ts
  configs/lint/eslint.base.config.mjs
  configs/test/jest.config.ts
  docs/TASKS.md
  package.json
  scripts/jest.setup.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  docs/TASKS.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Move jest.setup.js to scripts/ directory and update all references
  docs/TASKS.md
  scripts/generate.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})) or (any of: *.{yml,yaml})
  npx yaml-lint -c .yaml-lint.json: any of: *.{yml,yaml}
  markdownlint-cli2 --fix: any of: *.md
  shellcheck: any of: *.sh
  shfmt -i 2 -ci -w: any of: *.sh
  bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --: any of: *
