Repository garricn/thanos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: remove redundant TypeScript config files
  apps/api/configs/build/tsconfig.json
  apps/api/tests/configs/test/tsconfig.json
  apps/api/tests/configs/test/tsconfig.spec.json
  apps/web/configs/build/tsconfig.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

npm run test is passing
  apps/api/configs/test/jest.config.mjs
  apps/api/e2e/configs/test/jest.config.mjs
  apps/api/e2e/src/api/api.test.ts
  apps/api/tests/configs/test/jest.config.ts
  apps/api/tests/structure.test.ts
  apps/web/configs/test/jest.config.ts
  configs/test/jest.config.ts
  configs/test/tsconfig.json
  package.json
  scripts/jest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

add tasks
  consolidate-configs
  jest-consolidation.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

doc tasks
  consolidate-configs
  vitest-migration.txt
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip npm run test succeeds
  apps/api/package.json
  apps/web/package.json
  configs/test/vitest.config.ts
  package-lock.json
  package.json
  scripts/bin/test-e2e.js
  scripts/configs/vitest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip npm run test:snapshot succeeds
  apps/web/src/App.snapshot.spec.tsx
  apps/web/src/__snapshots__/App.snapshot.spec.tsx.snap
  apps/web/src/main.spec.tsx
  configs/test/vitest.config.ts
  package.json
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Upgrade vitest
  package-lock.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

npm run snapshot works
  configs/test/vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test,unit,snapshot passing
  apps/web/src/main.spec.tsx
  apps/web/src/main.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test:e2e is passing
  apps/api/e2e/src/api/api.test.ts
  configs/test/vitest.config.ts
  scripts/bin/test-e2e.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix npm run build
  apps/web/configs/build/vite.config.ts
  apps/web/package.json
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

update package file
  apps/api/package.json
  apps/web/vite.config.ts
  package-lock.json
  package.json
  types/jest.d.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

cd apps/web && npm run test passes
  apps/web/package.json
  apps/web/vitest.config.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: simplify git hooks to use full type check
  apps/api/e2e/src/api/api.test.ts
  apps/api/package.json
  apps/api/tests/test-utils.ts
  apps/api/tsconfig.json
  apps/web/tsconfig.json
  package-lock.json
  scripts/hooks/git-hooks.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: recreate lint configs in root and update tsconfigs to include all files
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  .markdownlint-cli2.jsonc
  .prettierignore
  .prettierrc
  .yamllint
  apps/api/build.js
  apps/api/e2e/src/api/api.test.ts
  apps/api/src/start.mjs
  apps/api/tests/test-utils.ts
  apps/api/tsconfig.json
  apps/web/e2e/src/support/app.po.ts
  apps/web/e2e/src/support/commands.ts
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  codecov.yml
  docs/TESTING_PATTERN.md
  eslint.config.mjs
  package.json
  scripts/__tests__/act.test.js
  scripts/__tests__/coverage.test.js
  scripts/__tests__/git-hooks.test.js
  scripts/__tests__/pre-commit.test.js
  scripts/__tests__/pre-push.test.js
  scripts/__tests__/shell-utils.test.js
  scripts/__tests__/test-e2e.test.js
  scripts/__tests__/test-utils.js
  scripts/bin/act.js
  scripts/bin/coverage.js
  scripts/bin/generate.js
  scripts/bin/test-e2e.js
  scripts/hooks/git-hooks.js
  scripts/lib/shell-utils.js
  tailwind.config.js
  tsconfig.json
  vite.config.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: ignore tsbuildinfo files
  .gitignore
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: resolve ESLint errors and warnings - Add tsconfig.eslint.json for config files - Update ESLint config to use new tsconfig - Fix unused variable warning in vite.config.ts
  eslint.config.mjs
  tsconfig.eslint.json
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: separate JavaScript and TypeScript config file handling in ESLint
  eslint.config.mjs
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: use proper boolean values in codecov.yml
  codecov.yml
Due: prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: use proper boolean value for enable_partials in codecov.yml
  codecov.yml
Due: prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: use absolute paths in vitest workspace config for correct path resolution
  vitest.workspace.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: reorganize cypress directory structure and fix api e2e test port conflict
  apps/api/e2e/src/api/api.test.ts
  apps/api/package.json
  apps/web/cypress/e2e/app.cy.ts
  apps/web/cypress/fixtures/example.json
  apps/web/cypress/support/app.po.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/support/e2e.ts
  apps/web/cypress/tsconfig.json
  apps/web/e2e/package.json
  apps/web/package.json
  apps/web/tsconfig.json
  cypress.config.ts
  eslint.config.mjs
  package-lock.json
  scripts/bin/test-e2e.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix test:all
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: improve ESLint configuration and remove unnecessary disable directives
  apps/api/build.js
  apps/api/e2e/src/support/global-setup.ts
  apps/api/e2e/src/support/global-teardown.ts
  apps/api/src/main.ts
  apps/api/tests/structure.test.ts
  eslint.config.mjs
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: ignore coverage files in web app lint command
  apps/web/package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: use default lint-staged config from package.json
  scripts/__tests__/git-hooks.test.js
  scripts/hooks/git-hooks.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: update test:unit to use workspace-specific commands
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: convert scripts vitest config to .js to match current script files
  package.json
  scripts/tsconfig.json
  scripts/vitest.config.js
  scripts/vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: remove scripts tsconfig reference from root tsconfig
  tsconfig.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: use exact match for cleanDeep command in test-utils.js
  scripts/__tests__/test-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: update test configuration - Remove vitest.config.ts in favor of vitest.config.js - Update workspace configuration - Fix TypeScript configuration
  scripts/vitest.config.js
  tsconfig.json
  vitest.workspace.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: complete Jest to Vitest migration
  apps/api/package.json
  apps/api/vitest.config.ts
  apps/web/package.json
  apps/web/vitest.config.ts
  package.json
  scripts/__tests__/coverage.test.js
  scripts/__tests__/git-hooks.test.js
  scripts/__tests__/setup.js
  scripts/bin/coverage.js
  scripts/vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

feat: setup playwright e2e tests
  apps/web/e2e/app.spec.ts
  apps/web/playwright.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: remove cypress and update dependencies
  .gitignore
  apps/web/cypress/e2e/app.cy.ts
  apps/web/cypress/fixtures/example.json
  apps/web/cypress/support/app.po.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/support/e2e.ts
  apps/web/cypress/tsconfig.json
  apps/web/package.json
  cypress.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: add root playwright config
  playwright.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: simplify test commands to basic building blocks
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

feat: add package-level test commands
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: remove jest dependencies and resolve type conflicts
  apps/api/tsconfig.json
  apps/web/playwright.config.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: update test configurations and paths
  apps/api/package.json
  apps/api/vitest.config.e2e.ts
  scripts/vitest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})) or (any of: *.{yml,yaml})
  npx yaml-lint -c .yaml-lint.json: any of: *.{yml,yaml}
  markdownlint-cli2 --fix: any of: *.md
  shellcheck: any of: *.sh
  shfmt -i 2 -ci -w: any of: *.sh
  bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --: any of: *
