Repository garricn/thanos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

feat: add test command to run all tests
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

remove coverage test
  scripts/__tests__/coverage.test.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: remove cypress types from web tsconfig
  apps/web/tsconfig.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: update test globals and fix linter errors
  eslint.config.mjs
  scripts/lib/shell-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: remove remaining Jest and Cypress references
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  README.md
  apps/api/e2e/package.json
  apps/web/package.json
  apps/web/src/App.spec.tsx
  apps/web/tests/test-setup.ts
  docs/ESM.md
  package-lock.json
  scripts/__tests__/shell-utils.test.js
  scripts/__tests__/test-utils.js
  scripts/bin/generate.js
  scripts/lib/shell-utils.js
Due: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: final cleanup of Jest references
  scripts/__tests__/test-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: complete vitest migration by removing jest dependencies and matchers
  apps/web/package.json
  apps/web/src/App.spec.tsx
  apps/web/tests/test-setup.ts
  docs/ESM.md
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

docs: fix duplicate headings in ESM.md
  docs/ESM.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: update Node.js version checks to use package.json instead of .nvmrc
  scripts/__tests__/shell-utils.test.js
  scripts/lib/shell-utils.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: update package-lock.json after npm install
  package-lock.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

feat: update check command to include all core checks - Add node:version and check:deps
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: simplify git hooks to just run npm run check
  .husky/pre-commit
  .husky/pre-push
  package.json
  scripts/__tests__/git-hooks.test.js
  scripts/__tests__/pre-commit.test.js
  scripts/__tests__/pre-push.test.js
  scripts/hooks/git-hooks.js
  scripts/hooks/pre-commit.js
  scripts/hooks/pre-push.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix test coverage commands
  apps/api/tests/src/app.test.ts
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  docs/TASKS.md
  package.json
  scripts/vitest.config.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

feat: add sonar reporter for test coverage reports
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  package-lock.json
  package.json
  scripts/vitest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

combine:coverage:clean is working except…
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  package.json
  scripts/bin/coverage.js
  scripts/vitest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  apps/api/vitest.config.ts
  docs/tasks/TASKS.md
  docs/tasks/combine-html-coverage-issue.md
  mcr.config.js
  package-lock.json
  package.json
  scripts/vitest.config.js
  vitest.config.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Rename
  vitest.coverage.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  mcr.config.js
  package.json
  scripts/vitest.config.js
  vitest.coverage.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

remove mv as not needed
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  package.json
  scripts/vitest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

convert coverage to v8
  apps/api/coverage/app.ts.html
  apps/api/coverage/index.html
  apps/api/coverage/lcov-report/app.ts.html
  apps/api/coverage/lcov-report/index.html
  apps/api/coverage/lcov-report/main.ts.html
  apps/api/coverage/main.ts.html
  apps/web/coverage/App.tsx.html
  apps/web/coverage/index.html
  apps/web/coverage/lcov-report/App.tsx.html
  apps/web/coverage/lcov-report/index.html
  apps/web/coverage/lcov-report/main.tsx.html
  apps/web/coverage/main.tsx.html
  docs/tasks/combine-html-coverage-issue.md
  mcr.config.cjs
  mcr.config.js
  scripts/coverage/scripts/act.js.html
  scripts/coverage/scripts/clean-deep.js.html
  scripts/coverage/scripts/generate.js.html
  scripts/coverage/scripts/index.html
  scripts/coverage/scripts/lcov-report/act.js.html
  scripts/coverage/scripts/lcov-report/clean-deep.js.html
  scripts/coverage/scripts/lcov-report/generate.js.html
  scripts/coverage/scripts/lcov-report/index.html
  scripts/coverage/scripts/lcov-report/node-version.js.html
  scripts/coverage/scripts/lcov-report/switch-node.js.html
  scripts/coverage/scripts/lcov-report/test-e2e.js.html
  scripts/coverage/scripts/node-version.js.html
  scripts/coverage/scripts/switch-node.js.html
  scripts/coverage/scripts/test-e2e.js.html
  vitest.coverage.config.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

combined and separate coverage reporting without merging works
  scripts/vitest.config.js
  vitest.config.ts
  vitest.coverage.config.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix node version
  package-lock.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

run format
  docs/tasks/combine-html-coverage-issue.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix node version
  apps/api/package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix lint
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  docs/tasks/combine-html-coverage-issue.md
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Remove vitest.workspace.ts
  vitest.config.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

default coverage enabled to false
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  scripts/vitest.config.js
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add coverage package scripts
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add junit xml test results
  .gitignore
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add package scripts for test results
  apps/web/package.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Rename test-report.xml
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

configure sonar
  apps/api/vitest.config.ts
  apps/web/vitest.config.ts
  package.json
  sonar-project.properties
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  sonar-project.properties
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Remove not v8 coverage deps
  package-lock.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  docs/tasks/combine-html-coverage-issue.md
  package.json
  sonar scripts
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

remove mcr
  mcr.config.cjs
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  .actrc
  .github/workflows/ci.yml
  apps/web/playwright.config.ts
  playwright.config.ts
Due: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})) or (any of: *.{yml,yaml})
  npx yaml-lint -c .yaml-lint.json: any of: *.{yml,yaml}
  markdownlint-cli2 --fix: any of: *.md
  shellcheck: any of: *.sh
  shfmt -i 2 -ci -w: any of: *.sh
  bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --: any of: *
