Repository garricn/thanos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.md": [
    "markdownlint-cli2 --fix"
  ],
  "*.sh": [
    "shellcheck",
    "shfmt -i 2 -ci -w"
  ]
}

Fix lint job in ci
  .github/workflows/ci.yml
  README.md
  generate.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

Add new shell scripts
  scripts/clean-deep.sh
  scripts/switch-node.sh
  scripts/validate-node-version.sh
Due: shellcheck, shfmt -i 2 -ci -w

Refactor e2e script
  scripts/e2e.sh
Due: shellcheck, shfmt -i 2 -ci -w

Update CI workflow
  .github/workflows/ci.yml
Due: prettier --write

Update tasks
  TASKS.md
Due: prettier --write, markdownlint-cli2 --fix

Add scripts to package file
  package.json
Due: prettier --write

Add .nvmrc
  .nvmrc
Due: none

Run nx repair
  nx.json
Due: prettier --write

Add wait-on dep
  README.md
  SECURITY.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint-cli2 --fix

Improve order of CI workflow
  .github/workflows/ci.yml
  TASKS.md
Due: prettier --write, markdownlint-cli2 --fix

Add Snapshot Tests job to ci.yml
  .github/workflows/ci.yml
  TASKS.md
Due: prettier --write, markdownlint-cli2 --fix

Improve ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Improve organization
  ci_helper.sh
  ci_monitor.sh
  docs/CI_MONITORING.md
  docs/SECURITY.md
  scripts/ci_helper.sh
Due: prettier --write, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w

Run all linters in ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Fix ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Add YAML linting and formatting to prevent CI issues
  .github/workflows/ci.yml
  .lintstagedrc.json
  .yaml-lint.json
  format_yaml.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Replace custom YAML formatting script with Prettier
  .github/workflows/ci.yml
  .prettierrc
  format_yaml.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Enforce newline at end of file
  .editorconfig
  .prettierrc
  eslint.base.config.mjs
Due: none

Add newline at end of files
  .gitignore
  .lintstagedrc.json
  .yamllint
  sonar-project.properties
Due: prettier --write

Use .nvmrc node version in ci.yml
  .github/workflows/ci.yml
  TASKS.md
Due: prettier --write, markdownlint-cli2 --fix

Add validate-node-version.sh
  TASKS.md
  scripts/validate-node-version.sh
Due: prettier --write, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w

Improve documentation
  README.md
  docs/CI_MONITORING.md
  docs/CLAUDE.md
  docs/CODE_COVERAGE.md
  docs/COMMANDS.md
  docs/CONTRIBUTING.md
  docs/GETTING_STARTED.md
  docs/PROJECT_STRUCTURE.md
  docs/SECURITY.md
  docs/SONARCLOUD.md
  docs/SONARQUBE_SETUP.md
  docs/TASKS.md
  docs/TROUBLESHOOTING.md
Due: prettier --write, markdownlint-cli2 --fix

Fixed the issue with the GitHub Actions workflow not reading the Node.js version from .nvmrc
  .github/workflows/ci.yml
  README.md
  docs/COMMANDS.md
  docs/LOCAL_CI.md
  docs/TASKS.md
  package.json
  scripts/validate-node-version.sh
Due: prettier --write, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w

Updated the validate script in package.json
  docs/TASKS.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

Fix ci.yml linting issues
  .github/workflows/ci.yml
  scripts/validate-node-version.sh
Due: prettier --write, shellcheck, shfmt -i 2 -ci -w

Setup docker
  Dockerfile.dev
  docker-compose-ci.yml
  docker-compose.yml
  docs/TASKS.md
  scripts/docker-ci.sh
  scripts/validate-node-version.sh
Due: prettier --write, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w

set up Docker for local CI
  Dockerfile.ci
  docker-compose-ci.yml
  docs/TASKS.md
  package-lock.json
  scripts/docker-ci.sh
  scripts/docker/run-ci.sh
Due: prettier --write, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w

Update Docker documentation
  README.md
  docs/CI_COMPARISON.md
  docs/COMMANDS.md
  docs/DOCKER.md
  docs/DOCKER_TROUBLESHOOTING.md
Due: prettier --write, markdownlint-cli2 --fix

Run npm run clean:deep
  package-lock.json
Due: prettier --write

Fix coverage command
  apps/api/jest.config.ts
  apps/api/src/app.ts
  apps/api/src/main.ts
  apps/api/tests/src/hello.test.ts
  apps/api/tests/src/main.spec.ts
  apps/api/tests/test-utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Fixed linting issues while maintaining the coverage functionality
  apps/api/tests/test-utils.ts
Due: eslint --fix, prettier --write

Add coverage:open
  package.json
Due: prettier --write

Updated documentation re coverage
  docs/CODE_COVERAGE.md
  docs/COMMANDS.md
Due: prettier --write, markdownlint-cli2 --fix

Fix: Use path.join for log model import to ensure correct path resolution in production
  apps/api/src/app.ts
Due: eslint --fix, prettier --write

Include snapshot tests in local coverage reporting
  docs/CODE_COVERAGE.md
  docs/COMMANDS.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

Improve coverage
  apps/api/tests/src/log.model.spec.js
  apps/api/tests/src/log.model.spec.ts
  apps/api/tests/src/main.server.spec.ts
  apps/api/tests/src/main.spec.ts
  apps/web/src/app/app.spec.tsx
  apps/web/src/main.spec.tsx
Due: eslint --fix, prettier --write

Fixed the End-to-End Tests
  apps/api/src/app.ts
  apps/api/src/main.ts
  apps/api/tests/src/app.spec.ts
  apps/api/tests/src/main.path.spec.ts
Due: eslint --fix, prettier --write
