Repository garricn/thanos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "*.{yml,yaml}": [
    "npx yaml-lint -c .yaml-lint.json",
    "prettier --write"
  ],
  "*.md": [
    "markdownlint-cli2 --fix"
  ],
  "*.sh": [
    "shellcheck",
    "shfmt -i 2 -ci -w"
  ],
  "*": [
    "bash -c 'if file \"$1\" | grep -q \"text\"; then if [ -s \"$1\" ] && [ \"$(tail -c 1 \"$1\" | xxd -p)\" != \"0a\" ]; then echo \"\" >> \"$1\"; fi; fi' --"
  ]
}

Fix lint issues
  apps/api/src/app.ts
  apps/api/src/main.ts
  apps/api/tests/src/app.spec.ts
  apps/api/tests/src/log.model.spec.ts
  apps/api/tests/src/main.path.spec.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix unit test failures by creating a dedicated path resolution test and excluding problematic tests
  apps/api/jest.config.ts
  apps/api/tests/src/path-resolution.spec.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

docs: update TASKS.md with recent work and next steps
  docs/TASKS.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add assistant reminder to TASKS.md
  docs/TASKS.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add tests to improve coverage for API error handling and Button component
  apps/api/tests/src/app.spec.ts
  apps/api/tests/src/hello.error.test.ts
  apps/web/src/components/ui/button.spec.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Modify coverage script to combine into one report
  docs/SONARCLOUD.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add main.test.ts for api
  apps/api/src/main.test.ts
  sonar-project.properties
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Improve test
  apps/api/src/main.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix lint issues
  apps/api/src/app.ts
  apps/api/src/main.test.ts
  apps/api/src/main.ts
  apps/api/tests/src/app.spec.ts
  apps/api/tests/src/main.path.spec.ts
  apps/api/tests/src/path-resolution.spec.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add permission to upload step
  .github/workflows/ci.yml
Due: prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Improve sonar config
  sonar-project.properties
  tsconfig.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Improve tsconfigs
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
  types/jest.d.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Update TASKS.md
  docs/TASKS.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Increase coverage
  apps/api/src/app.test.ts
  apps/api/src/main.test.ts
  apps/web/src/components/ui/button.spec.tsx
  apps/web/src/lib/utils.spec.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix lint issues
  apps/web/src/components/ui/button.spec.tsx
  apps/web/src/lib/utils.spec.ts
  apps/web/src/main.spec.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Updated coverage file exclusions
  apps/api/jest.config.ts
  apps/web/jest.config.ts
  apps/web/src/app/nx-welcome.tsx
  codecov.yml
  jest.config.ts
  sonar-project.properties
Due: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Improve ClickableButton.tsx coverage
  apps/web/src/components/ClickableButton.spec.tsx
  apps/web/src/components/ClickableButton.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add new coverage commands
  docs/CODE_COVERAGE.md
  docs/COMMANDS.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add new command and update docs
  docs/CODE_COVERAGE.md
  docs/COMMANDS.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add more coverage
  apps/web/jest.config.ts
  apps/web/src/components/ClickableButton.spec.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add coverage:all
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add explicit test for inner function returned by createHandleClick
  apps/web/src/components/ClickableButton.spec.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Improve coverage commands
  .github/workflows/ci.yml
  package.json
Due: prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Remove comments
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add api app tests
  apps/api/src/app.test.ts
  apps/api/src/app.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Improve api app branch coverage
  apps/api/src/app.test.ts
  apps/api/src/app.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Delete all imp and test files
  apps/api/db/models/log.js
  apps/api/e2e/src/api/api.spec.ts
  apps/api/src/app.test.ts
  apps/api/src/app.ts
  apps/api/src/main.test.ts
  apps/api/src/main.ts
  apps/api/tests/src/app.spec.ts
  apps/api/tests/src/hello.error.test.ts
  apps/api/tests/src/hello.test.ts
  apps/api/tests/src/log.model.spec.js
  apps/api/tests/src/log.model.spec.ts
  apps/api/tests/src/main.path.spec.ts
  apps/api/tests/src/main.server.spec.ts
  apps/api/tests/src/main.spec.ts
  apps/api/tests/src/path-resolution.spec.ts
  apps/web/e2e/src/app.cy.ts
  apps/web/src/app/app.module.css
  apps/web/src/app/app.spec.tsx
  apps/web/src/app/app.tsx
  apps/web/src/components/ClickableButton.snapshot.spec.tsx
  apps/web/src/components/ClickableButton.spec.tsx
  apps/web/src/components/ClickableButton.tsx
  apps/web/src/components/__snapshots__/ClickableButton.snapshot.spec.tsx.snap
  apps/web/src/components/ui/button.spec.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/lib/utils.spec.ts
  apps/web/src/lib/utils.ts
  apps/web/src/main.spec.tsx
  apps/web/src/styles.css
  apps/web/tests/lint-format.spec.ts
  apps/web/tests/structure.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add main and App files
  apps/web/src/App.tsx
  apps/web/src/main.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add App unit test
  apps/web/src/App.spec.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add App snapshot test
  apps/web/src/App.snapshot.spec.tsx
  apps/web/src/__snapshots__/App.snapshot.spec.tsx.snap
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add App e2e test
  apps/web/e2e/src/app.cy.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add main test file
  apps/web/src/main.spec.tsx
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add api and unit test
  apps/api/eslint.config.mjs
  apps/api/jest.config.ts
  apps/api/src/app.ts
  apps/api/tests/src/app.spec.ts
  eslint.config.mjs
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add main file
  apps/api/eslint.config.mjs
  apps/api/jest.config.ts
  apps/api/src/main.ts
  eslint.config.mjs
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Update husky
  package-lock.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix sonar report path
  sonar-project.properties
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Improve SonarCloud coverage configuration and reporting
  jest.config.ts
  jestSonar.config.js
  package.json
  sonar-project.properties
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix pre-push hook
  .husky/pre-push
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Fix husky
  .husky/pre-push
  scripts/local-ci.sh
Due: shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --
