Repository garricn/thanos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx yaml-lint -c .yaml-lint.json, markdownlint-cli2 --fix, shellcheck, shfmt -i 2 -ci -w, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

run dev server automatically
  apps/web/playwright.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Install sonar github action
  .github/workflows/ci.yml
Due: prettier --write, npx yaml-lint -c .yaml-lint.json, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  docs/tasks/sonarcloud-local-testing.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

wip
  .nvmrc
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Update sonarcloud-local-testing.md
  docs/tasks/sonarcloud-local-testing.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Remove scripts
  docs/tasks/sonarcloud-local-testing.md
  eslint.config.mjs
  package.json
  scripts/README.md
  scripts/__tests__/README.md
  scripts/__tests__/act.test.js
  scripts/__tests__/clean-deep.test.js
  scripts/__tests__/node-version.test.js
  scripts/__tests__/setup.js
  scripts/__tests__/shell-utils.test.js
  scripts/__tests__/switch-node.test.js
  scripts/__tests__/test-e2e.test.js
  scripts/__tests__/test-utils.js
  scripts/bin/act.js
  scripts/bin/clean-deep.js
  scripts/bin/generate.js
  scripts/bin/node-version.js
  scripts/bin/switch-node.js
  scripts/bin/test-e2e.js
  scripts/lib/shell-utils.js
  scripts/vitest.config.js
  sonar-project.properties
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

fix: upgrade vite to 5.4.15 to address security vulnerability SNYK-JS-VITE-9512410
  package-lock.json
  package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: use nullish coalescing operator (??) instead of logical OR (||) for safer port fallback
  apps/api/src/main.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Add typecheck to pretest
  apps/api/package.json
Due: prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: use dependency injection for server port configuration in e2e tests
  apps/api/e2e/src/api/api.test.ts
  apps/api/src/main.ts
  apps/api/tests/src/main.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: reorganize eslint config structure
  eslint.config.mjs
Due: bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: inject app dependency into createServer
  apps/api/e2e/src/api/api.test.ts
  apps/api/src/main.ts
  apps/api/tests/src/main.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

docs: update testing pattern with DI, type safety, and test structure
  docs/TESTING_PATTERN.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

docs: add task list for remaining DI work in main.ts
  docs/tasks/main-di-tasks.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

docs: add reference to TESTING_PATTERN.md in main-di-tasks
  docs/tasks/main-di-tasks.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

format
  docs/TESTING_PATTERN.md
Due: prettier --write, markdownlint-cli2 --fix, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: improve server creation test to verify port configuration
  apps/api/e2e/src/api/api.test.ts
  apps/api/src/main.ts
  apps/api/tests/src/main.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: update server creation test name to be more specific about port configuration
  apps/api/tests/src/main.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

test: add server tests including shutdown behavior
  apps/api/src/server.ts
  apps/api/tests/src/server.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: inject express into createApp for better testability
  apps/api/src/app.ts
  apps/api/tests/src/app.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: remove main.test.ts as it only tested implementation details
  apps/api/tests/src/main.test.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

style: remove unused Logger type import
  apps/api/src/main.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

refactor: update tests to match new server and app interfaces
  apps/api/e2e/src/api/api.test.ts
  apps/api/tests/test-utils.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

chore: exclude main.ts from coverage as it is a composition root
  apps/api/vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})) or (any of: *.{yml,yaml})
  npx yaml-lint -c .yaml-lint.json: any of: *.{yml,yaml}
  markdownlint-cli2 --fix: any of: *.md
  shellcheck: any of: *.sh
  shfmt -i 2 -ci -w: any of: *.sh
  bash -c 'if file "$1" | grep -q "text"; then if [ -s "$1" ] && [ "$(tail -c 1 "$1" | xxd -p)" != "0a" ]; then echo "" >> "$1"; fi; fi' --: any of: *
